body {
  background-color:#00004d
}
nav-pills>li.active>a:hover {
    color: #fff;
    background-color: #000;
}

a {
    color: #990000;
    text-decoration: none;
    background-color: #00004d;
}

.jumbotron {
background-color: #000;
}

.jumbotron>.h1 {
    color: #b30000;
    background-color: #000;
}

.jumbotron>.h2 {
  background-color: #00004d;
  color: #ffff00;
}

.btn-primary:hover {
    color: #ff00ff;
    background-color: #000;
    border-color: #ffff4d;
}

.btn-primary {
    color: #990099;
    background-color: #595959;
    border-color: #ffff4d;
}

.well {
  color: #b3cccc;
  background-color: #00004d;
  border: 1px solid #006600;
}

.btn-danger:hover {
    color: #009933;
    background-color: #c9302c;
    border-color: #ffff4d;
}

.btn-danger {
    color: #009933;
    background-color: #ffff4d;
    border-color: #d9534f;
}
