/*Globals*/
@import url('https://fonts.googleapis.com/css?family=Barrio|Love+Ya+Like+A+Sister');

body {
  background-color:#00004d
}

::-webkit-scrollbar {
   width: 1em;
}

::-webkit-scrollbar-track {
   -webkit-box-shadow: inset 0 0 6px rgba(0,0,250,0.75);
}

::-webkit-scrollbar-thumb {
 background-color: #8c0d26;
 outline: 1px solid slategrey;
}

nav-pills>li.active>a:hover {
    color: #fff;
    background-color: #000;
}

a {
    color: #990000;
    text-decoration: none;
    background-color: #00004d;
    font-family: 'Barrio';
}

.jumbotron {
background-color: #000;
}

.jumbotron>.h1 {
    color: #b30000;
    background-color: #000;
    font-family: 'Barrio';
}

.jumbotron>.h2 {
  background-color: #00004d;
  color: #ffff00;
  font-family: 'Love Ya Like A Sister', cursive;
}

.btn-primary:hover {
    color: #ff00ff;
    background-color: #000;
    border-color: #ffff4d;
    font-family: 'Love Ya Like A Sister', cursive;
}

.btn-primary {
    color: #990099;
    background-color: #595959;
    border-color: #ffff4d;
}

.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
  color: #d9d9d9;
}

.well {
  color: #b3cccc;
  background-color: #00004d;
  border: 1px solid #006600;
}

.btn-danger:hover {
    color: #009933;
    background-color: #c9302c;
    border-color: #ffff4d;
    font-family: 'Love Ya Like A Sister', cursive;
}

.btn-danger {
    color: #009933;
    background-color: #ffff4d;
    border-color: #d9534f;
}

.jni{
    display: inline;
    max-width: 20%;
    height: auto;
    float:right;
    margin-top: -145px;
}

/*row 1 movie titles*/
span.highlight {
  background-color: #ff0000;
  font-family: 'Barrio';
}
span.highlight1 {
  background-color: #ffff00;
  font-family: 'Barrio';
}
span.highlight2 {
  background-color: #008000;
  font-family: 'Barrio';
}

/*row1 Story*/
#aod {
  color: #ffa500;
  font-family: 'Love Ya Like A Sister', cursive;
  }
#li {
   text-decoration: underline;
   color: #fff;
   font-family: 'Barrio';
   font-size: medium;
}
#WW {
  color: #808080;
  font-family: 'Love Ya Like A Sister', cursive;
}
#wu {
  color: #cc00ff;
  text-decoration: underline;
  font-family: 'Love Ya Like A Sister', cursive;
}

/* edd wood image randomly pop-up on web page */
#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
#myImg:hover {opacity: 0.7;}

.wood{
  display: float;
  position: relative;

}

/*jumbotron Werewolf*/
.jumbotron h1 {
  color: #fff;
  font-family: 'Love Ya Like A Sister', cursive;
}

/*Circle Image Herschell Gordon Lewis*/
.img {
  background-image: url("../images/gfofgore.jpg");
  background-repeat: no-repeat;
  background-position: 50%;
  border-radius: 50%;
  width: 216px;
  height: 216px;
  margin: auto;
}

/*scrollbox*/
.scrollbox {
  overflow: scroll;
  height: 250px;
  width: 250px;
  margin: auto;
  padding-top: 3px;
}
/*P tag in scrollbox*/
.gore {
  font-family: 'Love Ya Like A Sister';
  color: darkcyan;
}
#PT {
  font-family: 'Barrio';
  color: darkcyan;
}
/*Image in scrollbox*/
.wizard {
  width: 250px;
}
